@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body{
    background-color:rgb(225, 200, 173);
    justify-content: center;
    display: flex;
    align-items: center;
    min-width: 100vh;
    font-family: 'Dosis', sans-serif;

}


#countLabel{
    text-align: center;
    font-size: 100px;
    color: rgb(255, 255, 255);
    font-family: 'Dosis', sans-serif;
    text-shadow: 1px 1px rgb(0, 0, 0);
    word-break: normal;
    
}

#decreaseBtn{
    font-size: 35px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    font-family: 'Dosis', sans-serif;
    display: flex;

 
    
}

#resetBtn{

    font-size: 35px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    font-family: 'Dosis', sans-serif;
    display: flex;

}

#increaseBtn{
   
    font-size: 35px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    font-family: 'Dosis', sans-serif;
    display: flex;
    

}